<div class="form-container" id="no-log">
  <form id="form" action="/products/<%= product.id %>" method="post">
    <h2>Edit Product</h2>
    <div>
      <label for="name">Name</label>
      <input type="text" name="name" value="<%= product.name %>"/>
      <label for="description" >description</label>
      <input type="text" name="description" value="<%= product.description %>"/>
      <label for="price">price</label>
      <input type="number" name="price" value="<%= product.price %>" />
      <label for="stock">stock</label>
      <input type="text" name="stock" value="<%= product.stock %>"/>
    </div>
    <button type="submit">Edit</button>
  </form>
</div>