<ul>
  <% products.forEach(product => { %>
    <li><%= product.name %> <%= product.price %> <a href="/products/<%= product.id %>">Details</a> <a href="/products/edit/<%= product.id %>">Edit</a> <form action="/products/delete/<%= product.id %>" method="post"><button type="submit">Delete</button></form>
  <%}) %>
</ul>